@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   
}
.project_bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    opacity: 85%;
    height: 150px;
    width: 300px;
}
.project_bg:hover {
   opacity: 65%;
}

html,
body{
    scroll-behavior: smooth;
    width: 100% !important;
    overflow-x: hidden !important;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}